<div class="reportDetail">
  <br />
    <div class="table-responsive routetable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Shift</th>
        <th>Route#</th>
        <th>Bus Driver</th>
        <th>Bus Assistant</th>
        <th>Alert type</th>
        <th>Date</th>
        <th>Time</th>
        <th>Acknowledged</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>1</td>
          <td>12</td>
          <td>Bus Driver1</td>
          <td>Bus Assistant1</td>
          <td>Alert type1</td>
          <td>Date1</td>
          <td>Time1</td>
          <td>Acknowledged1</td>
      </tr>
      <tr>
          <td>1</td>
          <td>12</td>
          <td>Bus Driver2</td>
          <td>Bus Assistant2</td>
          <td>Alert type2</td>
          <td>Date2</td>
          <td>Time2</td>
          <td>Acknowledged2</td>
      </tr>
      <tr>
          <td>1</td>
          <td>12</td>
          <td>Bus Driver2</td>
          <td>Bus Assistant2</td>
          <td>Alert type2</td>
          <td>Date2</td>
          <td>Time2</td>
          <td>Acknowledged2</td>
      </tr>
    </tbody>
  </table>
</div>
<footer>

    <button type="button" class="btn btn-default">Refresh</button>
    <button type="button" class="btn btn-default">Export</button>
</footer>
</div>
