<div class="reportDetail">
  <br />
    <div class="table-responsive routetable">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Route Id</th>
        <th>Alert Type</th>
        <th>Alert Value</th>
        <th>Ack Status</th>
        <th>Ack Comment</th>
        <th>Alert Date/time</th>
        <th>Ack Date/time</th>
        <th>Route Number</th>
        <th>Shift</th>
        <th>Driver Name</th>
        <th>Asst Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reportDetail of ReportDetailData; let i=index">
        
          <td>{{reportDetail.route_id}}</td>
          <td>{{reportDetail.alert_type}}WT</td>
          <td>{{reportDetail.alert_value}}</td>
          <td>{{reportDetail.ack_status}}</td>
          <td>{{reportDetail.ack_comment}}</td>
          <td>{{reportDetail.alert_datetime}}</td>
          <td>{{reportDetail.ack_datetime}}</td>
          <td>{{reportDetail.route_number}}</td>
          <td>{{reportDetail.shift}}</td>
          <td>{{reportDetail.Drvname}}</td>
          <td>{{reportDetail.AsstName}}</td>
      </tr>

  
    </tbody>
  </table>
</div>
<footer>

    <button type="button" class="btn btn-default">Refresh</button>
    <button type="button" class="btn btn-default">Export</button>
</footer>
</div>
