<div class="filter">
<br />
<div class="filterdet">
    
<label>Select From Date: </label>
<div id="frmdatepicker" class="input-group date" data-date-format="mm-dd-yyyy">
    <input id="frmdatesel" class="form-control" type="text" readonly />
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>

<label>Select To Date: </label>
<div id="todatepicker" class="input-group date" data-date-format="mm-dd-yyyy">
<input class="form-control" id="todatesel" type="text" readonly />
<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>

<label for="sel1">Shift number</label>
<div class="form-group">
    
    <select class="form-control" id="sel1">
      <option>1</option>
      <option>2</option>
    </select>
  </div>

  <label for="sel1">Route #</label>

  <div class="form-group ">
    <textarea class="form-control rta" rows="9" id="comment"></textarea>
  </div>

  <label for="sel1">Acknowledge status</label>
  <div class="form-group">
      
      <select class="form-control" id="sel1">
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>





</div>

  
</div>