<div id="ackc" class="container-fluid ackClass">
        <div class="row">
          <div class="col-driv col-lg-2 col-sm-3">
            <div class="thumbnail img-responsive">
              
                <img src="/assets/Image.jpg" alt="Lights" >
                <div class="caption">
                  <p *ngIf="getalertdetailsData">{{getalertdetailsData.drvusername}}</p>
                  <p *ngIf="getalertdetailsData">{{getalertdetailsData.drvemail}}</p>
                  <p *ngIf="getalertdetailsData">{{getalertdetailsData.drvmobile}}</p>

                </div>
              
            </div>
          </div>
          <div class="col-driv col-lg-2 col-sm-3">
            <div class="thumbnail img-responsive">
              
                <img src="/assets/Image.jpg" alt="Lights">
                <div class="caption">
                    <p *ngIf="getalertdetailsData">{{getalertdetailsData.asntusername}}</p>
                    <p *ngIf="getalertdetailsData">{{getalertdetailsData.asntemail}}</p>
                    <p *ngIf="getalertdetailsData">{{getalertdetailsData.asntmobile}}</p>
 
                </div>
              
            </div>
          </div>
          <app-ackcarousel></app-ackcarousel>
        </div>
        </div>
