

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


<div class="dashboard">
<div id="mapsId" >
<agm-map [@myanime] = "state" id="ag"  [latitude]="mlat" [longitude]="mlng" [zoom]="customzoom" (mapClick)="onClickEvent($event)" 
(centerChange)="centerChange($event)" [styles]="mapStyles"
>
<div class="agmmark">
  <agm-marker 
  [latitude]="location.lat" 
  [longitude]="location.lng"
  [iconUrl]="location.url"
  [label]="location.label"
  (markerClick)="clickedMarker(location.lat,location.lng, location.label)"
  *ngFor="let location of locations; let i=index"
  >
</agm-marker>
</div>
</agm-map>

</div> 

<app-ackment [@myanime1] = "state2" class="ackmnt" id="myac"></app-ackment>

</div>


<!--
<agm-map
[latitude]="lat"
[longitude]="log"
[zoom]="customzoom"

(centerChange)="centerChange($event)"
(mapClick)="onClickEvent($event)"
id="AgmMap"
#AgmMap>
<agm-marker [latitude]="lat" [longitude]="lng" [markerClickable]="true"></agm-marker>
</agm-map>

-->