<div class="carousel-container">
  <div class="border-slide">
      <div class="form-group mySlides fading" *ngFor="let carouselData of carouselDataArray; let i=index">
        <br>
        <label for="comment">Alert description:</label>
        <textarea class="form-control" rows="5" id="comment">{{carouselData.alert_type}} {{carouselData.alert_value}}</textarea>
        <br>
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment">slide1</textarea>
        <br>
        <button type="button" class="btn btn-default" data-dismiss="modal">Acknowledge</button>
        <br>
      </div>
  
 
    </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
  
  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(i+1)" *ngFor="let carouselData of carouselDataArray; let i=index"></span> 
  </div>
  
  </div>